.App {
  display: block;
  margin: 0 auto;
  text-align: left;
  max-width: 600px;
}

form {
  border: 1px black solid;
  border-radius: 4px;
  padding: 2%;
}

label {
  display: block;
  margin: 10px 0;
}

.label {
  font-weight: bold;
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

.employment-status {
  margin-left: 40px;
}

.income {
  position: relative;
}

.income span {
  position: absolute;
  left: 150px;
  top: 18px;
}

.income input {
  padding-left: 30px;
}

label input {
  display: inline-block;
  height: 20px;
  line-height: 20px;
}

.card {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #5b6b79;
  border-radius: 25px;
  margin: 20px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.card .title {
  font-size: 2rem;
  line-height: 3.51rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.card p {
  font-size: 15px;
  margin-bottom: 0;
  padding-top: 0;
  text-align: left;
  width: 100%;
}